body
{
    color: black;
    background-color: darkslategrey;
    margin:0px;

    
    header {
        border-bottom: solid 2px rgb(42, 122, 228);
        padding: 20px;
        font-size: 32px;
        color
    }

}
img{ height:200px;

}